h3{
  color:#666;
}

hr{
  border-color:#333;
}

footer{
  color:#666;
  font-weight: bold;
}

a:link, a.text-purple:hover
{
  color: #ED1567;
}

a.text-button{
  font-family: "Avenir-Heavy";
}

a.text-gray{
   color: #999;
}

a.text-black{
   color: #000;
}

input,
input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1;
}

div.vertical-line{
  width: 1px; 
  background-color: black;
}

div.vertical-line-white{
  width: 1px; 
  background-color: white;
}

td.low-padding{
  margin: 0 !important;  
  padding: 5px !important;
}

blockquote{
  font-size: 30px;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: .5em 10px;
  padding: 0 10px;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
}

blockquote:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}

p{
  margin: 0;
}

footer{
  margin:0;
  text-align: right;
  vertical-align: bottom;
  font-size: 1em;
  font-style: italic;

}


/***Estilos base para todos los dispositivos***/
.text-description{
   font-family: "Avenir-Book";
   font-size: 20px;
}
.h1-title{
   font-family: "AvenirNext-Bold";  
   font-size: 46px;
   color:#333;
}
.h3-title{
   font-family: "Sans-serif";
   font-size: 36px;
   color:#333;

}
.bgText{
  height: 360px;
  background-image: url("/images/text-bg-slogan-536.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.imageDivHeight{
    width: 100%;
    max-width: 100%;
    height:500px;
    background-position: center;
    background-image: url("/images/intro-bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.nine-columns {
    vertical-align: middle;
    margin: 20px;
    margin: 2rem;
    width: 100%;
    -webkit-column-count: 10; /* Chrome, Safari, Opera */
    -moz-column-count: 10; /* Firefox */
    column-count: 10;
}

.four-columns {
    margin: 20px;
    margin: 2rem;
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
      -moz-column-count: 4; /* Firefox */
      column-count: 4;
}


/*** Inician estilos para pantallas de tablets */
@media (max-width: 900px){
  .nine-columns{
      -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */
      column-count: 3;
  }
  .four-columns{
      -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */
      column-count: 3; 
  }
}
/***Terminan estilos para pantallas de tablets*/

/*** Inician estilos para pantallas de dispositivos móviles */
@media (max-width: 600px){
  .text-description{
    font-size: 12px;
  }
  .h1-title{
    font-size: 30px;
  }
  .h3-title{
    font-size: 24px;
  }
  .bgText{
    height: 240px;
  }
  .imageDivHeight{
    height:300px;
  }
  .nine-columns{
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1; /* Firefox */
      column-count: 1;
  }
  .four-columns{
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1; /* Firefox */
      column-count: 1;
  }
}
/***Terminan estilos para dispositivos móviles*/





.item {
  display: block;
  padding: 5px;
  margin: 5px;
  cursor: move;
}

#profileImage {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #666;
  font-size: 15px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin: 10px 0;
}

#profileImageLarge {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #666;
  font-size: 45px;
  color: #fff;
  text-align: center;
  line-height: 100px;
  margin: 10px 0;
}

.modal-backdrop{
  background-color: #000 !important;
  opacity:0.9 !important;
}

.modal-content{
  background-color: #fff !important;
  opacity:0.9 !important;
}

.file-upload-container {
    width: 100%;
    height: 50px;
    overflow: hidden;
    background: #3F51B5;
    user-select: none;
    transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    text-align: center;
    color: white;
    line-height: 50px;
    font-weight: 300;
    font-size: 20px;
}

.file-upload-container:hover {
    cursor: pointer;
    background: #3949AB;
}

.badge{
   font-size: 12px;
   font-family: verdana;
}

.hr_white{
  border-color: #fff;
  border-width: 2px;
}

.col{
   width: 0%;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 450px;
    overflow-y: auto;
}

.uppercase {
  text-transform: uppercase;
}

.thumbnail-cover{
   height: 132px; 
   width: 202px;
}

#forgot-password-link{
   color: #666
}

#signup-link{
   color: #666;
}

.thumbnail{
   background: transparent;
}

.thumbs{
   background: transparent;
   width: 50px;
   height: 50px;
}
.larger_thumbs{
   background: transparent;
   width: 120px;
   height: 80px;
}




.btn-fixed-width {
  width: 150px !important;
}

.btn-fixed-width-big {
    width: 300px !important;
}

.text-title-gray{
   font-family: "AvenirNext-Medium";
   font-size: 16px;
   color:#999;
}

.text-body-gray{
   font-family: "AvenirNext-Medium";
   font-size: 14px;
   color:#999;
}



.h2-title{
   font-family: "AvenirNext-Bold";  
   font-size: 30px;
   color:#666;
}



.h5-name{
   font-family: "Avenir-Medium";
   font-size: 28px;
   color:#ED1567; 
}

.subtitle-underline{
   font-family: "AvenirNext-Heavy";
   font-size: 14px;
   color:#666; 
   text-decoration: underline;
}

.location-underline{
   font-family: "AvenirNext-DemiBold";
   font-size: 13px;
   color:#000; 
   text-decoration: underline;
}

.numbers{
   font-family: "Avenir-MediumOblique";
   font-size: 12px;
   color:#333; 
}

.hidden {
  display: none;
}


.clasification-text{
   color: #fff;
   font-size: 20px;
   font-style: italic;
}

.project-title-text{
   color: #fff;
   font-size: 40px;
   font-weight: bold;
}

.people-name-text{
   color: #fff;
   font-size: 25px;
   font-family: "Avenir-Book";
   text-decoration: underline;
}

.people-name-text-circle{
   color: #333;
   font-size: 18px;
   text-decoration: underline;
}
.people-role-text-circle{
   color: #666;
   font-size: 12px;
   text-decoration: underline;
   font-weight: bold;
}

.vertical-center-row {
 display: block;  
  margin-right: auto;  
  margin-left: auto;
}

/*
.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}*/

 
.hr-gray {
  border-color: #fff;
}

/**Inician estilos para los recuadros de proyectos en la página de perfil de un usuario*/
.card{
  padding: 10px;
  margin: 0px;
  background: white;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
.card > img {
  width:100%;
  height:auto;
}
.card-img-top{
  width:100%;
  height:175px;
}

.card-title{
  text-align: center;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: bolder;
  margin-top: 20px;
}
.card-body {
  background-color: #eee;
  width: 100%;
  height: 100px;
}
.card-footer {
  background-color: #eee;
  width: 100%;
  height: 50px;
}
.card-text {
  font-size: 85%;
  text-align: center;
}
/**Terminan estilos para los recuadros de proyectos en la página de perfil de un usuario*/

.project.border{
  padding: 2rem;

}

.black_border{
  outline: 1px solid black !important;
   padding: 0px; 
   margin: 0px;
}

.table th, .table td {
    padding: 8px;
    vertical-align: top;
    border-top: 0;
}

.table-responsive{
   padding: 0px; 
   margin: 0px;
}

.table-low-padding>tbody>tr>td, .table-low-padding>tbody>tr>th, .table-low-padding>tfoot>tr>td, .table-low-padding>tfoot>tr>th, .table-low-padding>thead>tr>td, .table-low-padding>thead>tr>th {
    padding: 0;
    margin: 0;
}

.text-no-wrap{
   white-space: nowrap;
   font-family: "Avenir-Light";
}

.input-width-80{
   width:80px;
}

.input-purple{
   border-color: #ED1567;
   color: #ED1567;
   
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}

.vertical-align-middle {
    display: flex;
    align-items: center;
}

.cover-thumbnail{
   height: 120px; 
   width: 200px;
}

.cover-large{
   height: 300px; 
   width: 1080px;
}

.background-verydarkgray{
   background-color: #111;
}


.background-darkgray{
   background-color: #666;
}

.background-lightgray{
   background-color: #CCC;
}

.banner-table{
   padding: 20px;
   border: 1;
   margin: 20px;
}

.fa-bars{
   font-size: 30px;
   color:#fff;
}

.no-padding{
   padding: 0 !important;
   margin: 0 !important;
}

.go-bottom{
    display: inline-block;
    height: 400px;
    vertical-align: bottom;
    width: 0px;
}

.hr_width_180{
   width: 180px;
}

.hr_width_80{
   width: 80px;
}

.hr_width_600{
   width: 600px;
}


.agreements{
   font-size: 12px;
   color:#666;
   font-family: "Avenir-Roman";
}


.title-banner{
   font-size: 36px;
   font-weight: bold;
}
.text-banner{
   font-size: 34px;
   font-weight: bold;
}
.date-banner{
   font-size: 28px;
   font-weight: bold;
}

.text-purple{
   color: #ED1567;
}

.input-required-purple{
   color: #ED1567;
   font-size: 12px;
   font-style: italic;
}

.text-gray{
   color: #999;
}

.dropdown-item a{
   color:#000;
}

.text-white{
   color: #fff;
}

.text-black{
   color: #000;
}



.button_white{
   border-width: 1px;
   border-color: #fff;
   background: transparent;
   color: #fff;
}
.button_white a, a:hover {
   text-decoration: none;
   color:#fff;
}

.button_gray{
   border-width: 1px;
   border-color: #999;
   background: transparent;
   color: #999;
}

.button-follow{
   padding-top: 1px;
   padding-bottom: 1px;
   border-width: 1px;
   border-color: #666;
   background-color: #666;
   color: #FFF;
   font-family: "AvenirNext-Medium";
   font-size: 12px;
}

.button_gray a, a:hover {
   text-decoration: none;
   color:#999;
}

.button_darkgray{
   border-width: 1px;
   border-color: #666;
   background-color: #666;
   color: #FFF;
}

.button_darkgray a, a:hover {
   text-decoration: none;
   color:#FFF;
}

.button_black{
   border-width: 1px;
   border-color: #000;
   background: transparent;
   color: #fff;
}

.button_black a, a:hover {
   text-decoration: none;
   color:#fff;
   cursor: hand;
}

/*Vertical visible line to divide cells*/
.vdivide {
  border-right: 1px solid #333;
  text-align: center;
}
.border-exterior{
   outline: 1px solid black;
   padding: 0px; /*top right bottom left*/
}

.borderless td, .borderless th, .borderless table {
    border: none !important;
}

.btn {
   border-radius: 0;
}

.btn-primary-outline {
  background-color: transparent;
  
}

.btn-borderless{
   border: none;
   color:gray;
   font-size: 25px;
   font-family: "Avenir-Medium";
}

.btn-borderless:hover{
   color:gray;
}

.btn-borderless-small{
   border: none;
   color:gray;
   font-size: 20px;
}

.dropdown-toggle::after{
    display: none;
}


.btn-purple {
   border-width: 1px;
   border-color: #ED1567;
   background: transparent;
   color: #ED1567;
   font-weight: bold;
}

.btn-purple a, a:hover{
   text-decoration: none;
   color: #ED1567;
}

.btn-gray {
   border-width: 1px;
   background-color: #333;
   color: #fff;
   height: 35px;
   /*font-weight: bold;*/
}

.btn-gray a, a:hover{
   text-decoration: none;
   color: #fff;
}

.btn-black {
   border-width: 1px;
   border-color: #666;
   background: transparent;
   color: #666;
}

.btn-black a, a:hover{
   text-decoration: none;
   color: #666;
}
.cursive{
   text-decoration: italic;
}


.pagination ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.pagination li {
  display: inline;
}

.pagination li a {
  color: #ED1567;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination li.active a {
  background-color: red;
  color: white;
}

.pagination li:hover:not(.active) a {
  background-color: #ED1567;
}

.center-cropped {
  width: 100%;
  height: 200px;
  
  background-repeat: no-repeat;
}

.spacer5 { 
   margin:0; 
   padding:0; 
   height:5px; 
}

.spacer10 { 
   margin:0; 
   padding:0; 
   height:10px; 
}

.spacer20 { 
   margin:0; 
   padding:0; 
   height:20px; 
}

.spacer30 { 
   margin:0; 
   padding:0; 
   height:30px; 
}

.spacer40 { 
   margin:0; 
   padding:0; 
   height:40px; 
}

.spacer60 { 
   margin:0; 
   padding:0; 
   height:60px; 
}

.spacer80 { 
   margin:0; 
   padding:0; 
   height:80px; 
}

.spacer120 { 
   margin:0; 
   padding:0; 
   height:120px; 
}
.spacer280 { 
   margin:0; 
   padding:0; 
   height:280px; 
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
  width: 10px;
  height: 10px;
  border: none;
  font-family: 'Glyphicons Halflings';
}



[class*="col-"] {
    width: 100%;
}

@media screen and (min-width: 100px) {
    

    #bannerBack{
      width: 100%;
        height:220px;
        background-image: url("/images/bb.jpg");
        background-repeat: no-repeat;
        background-size: cover;
   }
   /*
   #bannerProject{
      width: 100%;
        height:670px;
        background-image: url("/images/background-dark.jpg");
        background-repeat: no-repeat;
        background-size: cover;
   }*/
}

@media screen and (min-width: 100px) {
    #bgText{
      height: 360px;
      background-image: url("/images/text-bg-slogan-536.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
   }
}

.dark-bg{
   background-color: #343a40;
   height: 70px;
}

.padding-0 {
    padding: 0;
    margin: 0;
}

.responsive {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 100px) {
    #imageBanner{
        /*max-width:100%; */
        /*max-height:100%;*/
        display:block;
        /*height: 230px;*/
        background-image: url("/images/banner-david.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.border-cell {
   border: 1px solid #000000;
}

.purple-background{
   background-color: #ED1567;
   color:#fff;
   font-family: Avenir-Black;
}