#searchBox{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  background-clip: padding-box;
  background-color: #fff;
  color: #495057;
  line-height: 1.5;
  font-size: 12px;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 14px;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 32px;
    content: "\f106";
    color: #ED1567;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 14px;
}
.chat-title{
  background-color: #eee;
  font-size: 24px;
  border-width:2px;
  width: 100%
}
.bg-light-selected{
  background-color: #333 !important;
}

a.list-group-item.active { background-color: #6c757d; }

.box{
    height:100px;
    width:150px;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropzone {
    line-height:100px;
    border:5px dashed #ccc;
    /*height: 200px;*/
    background-color: #eee;
    margin-bottom: 20px;
    padding: 40px;
    font-size: 12px;
}
.drag-over {
  border:5px dashed #34bdeb;
}
.modal-body {
    max-height: calc(100vh - 143px);
    overflow-y: auto; 
  }

/***Estilos base para todos los dispositivos***/
.text-description{
   font-family: "Avenir-Book";
   font-size: 20px;
}
.h1-title{
   font-family: "AvenirNext-Bold";  
   font-size: 30px;
   color:#333;
   margin-top: 45px;
}
.h3-title{
   font-family: "Sans-serif";
   font-size: 36px;
   color:#333;
}

.negativeMargin{
  position: relative;
  
  margin-right: 20px;
  text-align: right;
  color: #ffffff;
  
}

.interactions-box{
  position: fixed;
  top: 120px;
  left: 0px;
  right: 70%;
  bottom: 80px;
  overflow: none;
}

.interactions-box .interactions-scroll {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-x: hidden;
  max-height: 100%;
  -webkit-overflow-scrolling: touch; /* enable intertial scroll on mobile devices */
}

.interactions{
  /*display: inline-block;*/
  background-color: #ccc;
}

.messages-box {
  position: fixed;
  top: 120px;
  left: 33%;
  right: 0px;
  bottom: 80px;

  overflow: none;
}

.messages-box .messages-scroll {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-x: hidden;
  max-height: 100%;
  -webkit-overflow-scrolling: touch; /* enable intertial scroll on mobile devices */
}

.message{
  font-size: 12px;
   color:#666;
   font-family: "Avenir-Roman";
}
/*
.messages-box .messages-scroll .messages {
  padding: 20px;
}

.messages-box .messages-scroll .messages .message {
  margin-top: 15px;
  border-top: 1px solid #EDEEF2;
  padding-top: 15px;
}
*/
.interactions-title{
  position: fixed;
  top:75px;
}
.messages-title{
  position: fixed;
  top:75px;
  left: 33%
}
.new-message-container {
  position: fixed;
  left: 33%;
  right: 0px;
  bottom: 0px;
  height: 80px;
  border-top: 1px solid #EDEEF2;
  background-color: #FAFBFF;
  padding: 20px;
}

.new-message-container form {
  display: flex;
  flex-direction: row;
}

.new-message-container form input {
  flex: 1;
}

.new-message-container form button {
  margin-left: 10px;
}

.project-title{
  font-size: 36px;
  font-weight: bold;
  margin-top: -100px;
}
.project-type{
  font-size: 24px;
  font-style: italic;
  margin-top: -130px;
}

.nine-columns {
    vertical-align: middle;
    margin: 20px;
    margin: 2rem;
    width: 100%;
    -webkit-column-count: 10; /* Chrome, Safari, Opera */
    -moz-column-count: 10; /* Firefox */
    column-count: 10;
}
.four-columns {
    margin: 20px;
    margin: 2rem;
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
      -moz-column-count: 4; /* Firefox */
      column-count: 4;
}
/*** Inician estilos para pantallas de tablets */
@media (max-width: 900px){
  .nine-columns{
      -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */
      column-count: 3;
  }
  .four-columns{
      -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */
      column-count: 3; 
  }
}
/***Terminan estilos para pantallas de tablets*/

/*** Inician estilos para pantallas de dispositivos móviles */
@media (max-width: 600px){
  .text-description{
    font-size: 12px;
  }
  .h1-title{
    font-size: 30px;
  }
  .h3-title{
    font-size: 24px;
  }
  .bgText{
    height: 240px;
  }
  .imageDivHeight{
    height:300px;
  }
  .nine-columns{
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1; /* Firefox */
      column-count: 1;
  }
  .four-columns{
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1; /* Firefox */
      column-count: 1;
  }
}
/***Terminan estilos para dispositivos móviles*/

.item {
  display: block;
  padding: 5px;
  margin: 5px;
  cursor: move;
}
#iconInitials {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #666;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  /*margin: 10px 0;*/
}
.selectedElement{
  background-color: aqua;
}
.notSelectedElement{
  background-color: white;
}

.notificationNoRead{
  background-color: #edf2fa;
  padding-top: 10px;
  padding-bottom: 10px;
}
.notificationNoRead:hover{
  background: #d0e0e0;
  cursor: pointer;
}
.notificationRead{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.notificationRead:hover{
  background: #d0e0e0;
  cursor: pointer;
}


.modal-content{
  background-color: #fff !important;
  opacity:0.9 !important;
}
.form-control{
  font-size: 14px;
}
.file-upload-container {
    width: 100%;
    height: 50px;
    overflow: hidden;
    background: #3F51B5;
    user-select: none;
    transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    text-align: center;
    color: white;
    line-height: 50px;
    font-weight: 300;
    font-size: 20px;
}
.file-upload-container:hover {
    cursor: pointer;
    background: #3949AB;
}
.badge{
   font-size: 12px;
   font-family: verdana;
}

.hr_white{
  border-color: #fff;
  border-width: 2px;
}
.col{
   width: 0%;
}
.modal-dialog{
    overflow-y: initial !important
}
.uppercase {
  text-transform: uppercase;
}
#forgot-password-link{
   color: #666
}
#signup-link{
   color: #666;
}
.btn-fixed-width {
  width: 150px !important;
}
.btn-fixed-width-big {
    width: 300px !important;
}
.text-title-gray{
   font-family: "AvenirNext-Medium";
   font-size: 16px;
   color:#999;
}
.text-body-gray{
   font-family: "AvenirNext-Medium";
   font-size: 14px;
   color:#999;
}
.h2-title{
   font-family: "AvenirNext-Bold";  
   font-size: 30px;
   color:#666;
}
.h5-name{
   font-family: "Avenir-Medium";
   font-size: 26px;
   color:#ED1567; 
}
.subtitle-underline{
   font-family: "AvenirNext-Heavy";
   font-size: 14px;
   color:#666; 
   text-decoration: underline;
}

.location-underline{
   font-family: "AvenirNext-DemiBold";
   font-size: 13px;
   color:#000; 
   text-decoration: underline;
}
.numbers{
   font-family: "Avenir-MediumOblique";
   font-size: 12px;
   color:#333; 
}
.hidden {
  display: none;
}
.clasification-text{
   color: #fff;
   font-size: 20px;
   font-style: italic;
}
.project-title-text{
   color: #fff;
   font-size: 40px;
   font-weight: bold;
}
.people-name-text{
   color: #fff;
   font-size: 25px;
   font-family: "Avenir-Book";
   text-decoration: underline;
}
.people-name-text-circle{
   color: #333;
   font-size: 18px;
   text-decoration: underline;
}
.people-role-text-circle{
   color: #666;
   font-size: 12px;
   text-decoration: underline;
   font-weight: bold;
}
.vertical-center-row {
 display: block;  
  margin-right: auto;  
  margin-left: auto;
}
.hr-gray {
  border-color: #fff;
}

/**Inician estilos para los recuadros de proyectos en la página de perfil de un usuario*/
.card{
  padding: 10px;
  margin: 0px;
  background: white;
  /*height: 400px;*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
.card > img {
  width:100%;
  height:auto;
}
.card-title{
  text-align: center;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: bolder;
  margin-top: 20px;
}
.card-body {
  background-color: #eee;
  width: 100%;
  /*height: 100px;*/
}
.card-footer {
  background-color: #eee;
  width: 100%;
  height: 50px;
}
.card-text {
  font-size: 85%;
  text-align: center;
}
/**Terminan estilos para los recuadros de proyectos en la página de perfil de un usuario*/

.project.border{
  padding: 2rem;

}
.black_border{
  outline: 1px solid black !important;
   padding: 0px; 
   margin: 0px;
}

.table th, .table td {
    padding: 8px;
    vertical-align: top;
    border-top: 0;
}

.table-responsive{
   padding: 0px; 
   margin: 0px;
}

.table-low-padding>tbody>tr>td, .table-low-padding>tbody>tr>th, .table-low-padding>tfoot>tr>td, .table-low-padding>tfoot>tr>th, .table-low-padding>thead>tr>td, .table-low-padding>thead>tr>th {
    padding: 0;
    margin: 0;
}

.text-no-wrap{
   white-space: nowrap;
   font-family: "Avenir-Light";
}

.light-padding{
  padding: 10px;
  margin: 10px;
}

.input-width-80{
   width:80px;
}

.input-purple{
   border-color: #ED1567;
   color: #ED1567;
   
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}

.vertical-align-middle {
    display: flex;
    align-items: center;
}



.banner-table{
   padding: 20px;
   border: 1;
   margin: 20px;
}

.fa-bars{
   font-size: 30px;
   color:#fff;
}

.no-padding{
   padding: 0 !important;
   margin: 0 !important;
}

.go-bottom{
    display: inline-block;
    height: 400px;
    vertical-align: bottom;
    width: 0px;
}

.hr_width_180{
   width: 180px;
}

.hr_width_80{
   width: 80px;
}

.hr_width_600{
   width: 600px;
}

.agreements{
   font-size: 12px;
   color:#666;
   font-family: "Avenir-Roman";
}

.text-banner{
   font-size: 34px;
   font-weight: bold;
}
.date-banner{
   font-size: 28px;
   font-weight: bold;
}

.text-purple{
   color: #ED1567;
}

.text-14{
  font-size: 14px;
}

.text-16{
  font-size: 16px;
}

.input-required-purple{
   color: #ED1567;
   font-size: 12px;
   font-style: italic;
}

.text-gray{
   color: #999;
}

/*Estilos para el menú desplegable*/
.dropdown-menu{
  width: 300px;
}
.dropdown-item{
   font-size: 16px;
}
.dropdown-item a{
   color:#000;
}
.dropdown-header{
  font-size: 14px;
}
.dropdown-toggle::after{
  display: none;
}
.dropdown-menu-wide{
  width: 400px !important;
}
/*Termina estilos para el menú desplegable*/

.nav li ul {
  margin-bottom: 20px;
}

.notify-drop-title{
  padding-left: 10px !important; 
  padding-right: 10px !important; 
}

/*Inician estilos para los botones de crew y cast en la barra superior*/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #ED1567;
}

.nav-pills a{
  color:#c6c6c6;
}
/*Terminan estilos para los botones de crew y cast en la barra superior*/

.text-white{
   color: #fff;
}

.text-lightgray{
   color: #bbb !important;
}

.text-black{
   color: #000;
}

.button_white{
   border-width: 1px;
   border-color: #fff;
   background: transparent;
   color: #fff;
}

.button_white a, a:hover {
   text-decoration: none;
   color:#fff;
}

.button_gray{
   border-width: 1px;
   border-color: #999;
   background: transparent;
   color: #999;
}

.button-follow{
   padding-top: 1px;
   padding-bottom: 1px;
   border-width: 1px;
   border-color: #666;
   background-color: #666;
   color: #FFF;
   font-family: "AvenirNext-Medium";
   font-size: 12px;
}

.button-unfollow{
   padding-top: 1px;
   padding-bottom: 1px;
   border-width: 1px;
   border-color: #ED1567;
   background-color: #ED1567;
   color: #FFF;
   font-family: "AvenirNext-Medium";
   font-size: 12px;
}

.button_gray a, a:hover {
   text-decoration: none;
   color:#999;
}

.button_darkgray{
   border-width: 1px;
   border-color: #666;
   background-color: #666;
   color: #FFF;
}

.button_darkgray a, a:hover {
   text-decoration: none;
   color:#FFF;
}

.button_black{
   border-width: 1px;
   border-color: #000;
   background: transparent;
   color: #fff;
}

.button_black a, a:hover {
   text-decoration: none;
   color:#fff;
   cursor: hand;
}

/*Vertical visible line to divide cells*/
.vdivide {
  border-right: 1px solid #333;
  text-align: center;
}
.border-exterior{
   outline: 1px solid black;
   padding: 0px; /*top right bottom left*/
}

.borderless td, .borderless th, .borderless table {
    border: none !important;
}

.btn {
   border-radius: 0;
}

.btn-primary-outline {
  background-color: transparent;
  
}

.btn-borderless{
   border: none;
   color:gray;
   font-size: 25px;
   font-family: "Avenir-Medium";
}

.btn-borderless:hover{
   color:gray;
}

.btn-borderless-small{
   border: none;
   color:gray;
   font-size: 20px;
}



.btn-purple {
   border-width: 1px;
   border-color: #ED1567;
   background: transparent;
   color: #ED1567;
   font-weight: bold;
}

.btn-purple a, a:hover{
   text-decoration: none;
   color: #ED1567;
}

.btn-gray {
   border-width: 1px;
   background-color: #333;
   color: #fff;
   height: 35px;
   /*font-weight: bold;*/
}

.btn-gray a, a:hover{
   text-decoration: none;
   color: #fff;
}

.btn-black {
   border-width: 1px;
   border-color: #666;
   background: transparent;
   color: #666;
}

.btn-black a, a:hover{
   text-decoration: none;
   color: #666;
}
.cursive{
   text-decoration: italic;
}

.pagination ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.pagination li {
  display: inline;
}

.pagination li a {
  color: #ED1567;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination li.active a {
  background-color: red;
  color: white;
}

.pagination li:hover:not(.active) a {
  background-color: #ED1567;
}

.center-cropped {
  width: 400px;
  /*height: 200px;*/
  background-repeat: no-repeat;
}

.spacer5 { 
   margin:0; 
   padding:0; 
   height:5px; 
}

.spacer10 { 
   margin:0; 
   padding:0; 
   height:10px; 
}

.spacer20 { 
   margin:0; 
   padding:0; 
   height:20px; 
}

.spacer30 { 
   margin:0; 
   padding:0; 
   height:30px; 
}

.spacer40 { 
   margin:0; 
   padding:0; 
   height:40px; 
}

.spacer60 { 
   margin:0; 
   padding:0; 
   height:60px; 
}

.spacer80 { 
   margin:0; 
   padding:0; 
   height:80px; 
}

.spacer120 { 
   margin:0; 
   padding:0; 
   height:120px; 
}
.spacer280 { 
   margin:0; 
   padding:0; 
   height:280px; 
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
  width: 10px;
  height: 10px;
  border: none;
  font-family: 'Glyphicons Halflings';
}

[class*="col-"] {
    width: 100%;
}





.padding-0 {
    padding: 0;
    margin: 0;
}

.responsive {
  width: 100%;
  height: auto;
}

.border-cell {
   border: 1px solid #000000;
}

