#searchBox{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  background-clip: padding-box;
  background-color: #fff;
  color: #495057;
  line-height: 1.5;
  font-size: 12px;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 14px;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 32px;
    content: "\f106";
    color: #ED1567;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 14px;
}
 
.button-rounded {
    border-radius: 2em;
    background-color:transparent;
    color: #ED1567;
    box-shadow: 2px 1px 2px 1px rgba(237, 21, 103);
    padding: 0.2rem 2rem;
}
 
.carousel-control-next-icon{
  color:#ED1567 !important;
  background-color: #ED1567 !important;
}

.carousel-control-prev-icon{
  color:#ED1567 !important;
  background-color: #ED1567 !important;
}

.carousel{
  width: 400px; 
  
}

.carousel-item{
   width: 600px;
   object-fit:scale-down;
   padding-left: 15%;
}


/*
.carousel-item.active, .carousel-item-next, .carousel-item-prev {
    width: 650px; 
}

.carousel-thumb{
  width: 200px; 
}
.carousel-item-thumb{
   width: 200px;
   object-fit:scale-down;
}*/


.chat-title{
  background-color: #eee;
  font-size: 24px;
  border-width:2px;
  width: 100%
}

nav.bg-dark{
  background-color: #1d2327 !important;
}

.bg-light-selected{
  background-color: #333 !important;
}

.bg-sender{
  background-color: #ddd !important;   
}

a.list-group-item.active { background-color: #6c757d; }

.box{
    height:100px;
    width:150px;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropzone {
    line-height:100px;
    border:5px dashed #ccc;
    /*height: 200px;*/
    background-color: #eee;
    margin-bottom: 20px;
    padding: 40px;
    font-size: 12px;
}
.drag-over {
  border:5px dashed #34bdeb;
}


.mdi-light{
  color:#fff;
}

.mdi-light > a:hover{
  color:#333;
}

.mdi-dark{
  color:#000;
}

.mdi-dark:hover{
  color:#333;
}

.modal-body {
    max-height: calc(100vh - 143px);
    overflow-y: auto; 
  }

/***Estilos base para todos los dispositivos***/
.text-description{
   font-family: "Avenir-Book";
   font-size: 20px;
}


.h1-title{
   font-family: "Avenir-Book";  
   font-size: 30px;
   color:#333;
   margin-top: 45px;
}
.h3-title{
   font-family: "Avenir-Book";
   font-size: 36px;
   color:#333;
   /*line-height: 100%;*/
}

.negativeMargin{
  position: relative;
  
  margin-right: 20px;
  text-align: right;
  color: #ffffff;
  
}

.text-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.interactions-box{
  position: fixed;
  top: 120px;
  left: 0px;
  right: 70%;
  bottom: 80px;
  overflow: none;
}

.interactions-box .interactions-scroll {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-x: hidden;
  max-height: 100%;
  -webkit-overflow-scrolling: touch; /* enable intertial scroll on mobile devices */
}

.interactions{
  /*display: inline-block;*/
  background-color: #ccc;
}

.messages-box {
  position: fixed;
  top: 120px;
  left: 33%;
  right: 0px;
  bottom: 80px;

  overflow: none;
}

.messages-box .messages-scroll {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-x: hidden;
  max-height: 100%;
  -webkit-overflow-scrolling: touch; /* enable intertial scroll on mobile devices */
}

.message{
  font-size: 12px;
   color:#666;
   font-family: "Avenir-Book";
}
/*
.messages-box .messages-scroll .messages {
  padding: 20px;
}

.messages-box .messages-scroll .messages .message {
  margin-top: 15px;
  border-top: 1px solid #EDEEF2;
  padding-top: 15px;
}
*/
.interactions-title{
  position: fixed;
  top:75px;
}
.messages-title{
  position: fixed;
  top:75px;
  left: 33%
}
.new-message-container {
  position: fixed;
  left: 33%;
  right: 0px;
  bottom: 0px;
  height: 80px;
  border-top: 1px solid #EDEEF2;
  background-color: #FAFBFF;
  padding: 20px;
}

.new-message-container form {
  display: flex;
  flex-direction: row;
}

.new-message-container form input {
  flex: 1;
}

.new-message-container form button {
  margin-left: 10px;
}

.no-scroll{
   overflow: hidden;
}

.project-title{
  font-size: 36px;
  font-weight: bold;
  line-height: 90%;
  /*margin-top: -100px;*/
}
.project-type{
  font-size: 24px;
  /*font-style: italic;
  margin-top: -130px;*/
}

.nine-columns {
    vertical-align: middle;
    margin: 20px;
    margin: 2rem;
    width: 100%;
    -webkit-column-count: 10; /* Chrome, Safari, Opera */
    -moz-column-count: 10; /* Firefox */
    column-count: 10;
}
.four-columns {
    margin: 20px;
    margin: 2rem;
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
      -moz-column-count: 4; /* Firefox */
      column-count: 4;
}


#searchType{
  background-color: #141e3c;
  color:#fff;
}

/*** Inician estilos para pantallas de tablets */
@media (max-width: 900px){
  .nine-columns{
      -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */
      column-count: 3;
  }
  .four-columns{
      -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */
      column-count: 3; 
  }
}
/***Terminan estilos para pantallas de tablets*/

/*** Inician estilos para pantallas de dispositivos móviles */
@media (max-width: 600px){
  .text-description{
    font-size: 12px;
  }
  .h1-title{
    font-size: 30px;
  }
  .h3-title{
    font-size: 24px;
  }
  .bgText{
    height: 240px;
  }
  .imageDivHeight{
    height:300px;
  }
  .nine-columns{
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1; /* Firefox */
      column-count: 1;
  }
  .four-columns{
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1; /* Firefox */
      column-count: 1;
  }
}
/***Terminan estilos para dispositivos móviles*/

.item {
  display: block;
  padding: 5px;
  margin: 5px;
  cursor: move;
}
#iconInitials {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #666;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  /*margin: 10px 0;*/
}
.selectedElement{
  background-color: aqua;
}
.notSelectedElement{
  background-color: white;
}

.leftpadding{
  padding-left: 5%;
}

.rightpadding{
  padding-right: 5%;
}

.toppadding{
  padding-top: 2%;
}

.notificationNoRead{
  background-color: #edf2fa;
  padding-top: 10px;
  padding-bottom: 10px;
}
.notificationNoRead:hover{
  background: #d0e0e0;
  cursor: pointer;
}
.notificationRead{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.notificationRead:hover{
  background: #d0e0e0;
  cursor: pointer;
}


.modal-content{
  background-color: #fff !important;
  opacity:0.9 !important;
}
.form-control{
  font-size: 14px;
}
.file-upload-container {
    width: 100%;
    height: 50px;
    overflow: hidden;
    background: #3F51B5;
    user-select: none;
    transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    text-align: center;
    color: white;
    line-height: 50px;
    font-weight: 300;
    font-size: 20px;
}
.file-upload-container:hover {
    cursor: pointer;
    background: #3949AB;
}
.badge{
   font-size: 12px;
   font-family: "Avenir-Book";
}

.hr_white{
  border-color: #fff;
  border-width: 2px;
}
.col{
   width: 0%;
}
.modal-dialog{
    overflow-y: initial !important
}
.uppercase {
  text-transform: uppercase;
}
#forgot-password-link{
   color: #666
}
#signup-link{
   color: #666;
}
.btn-fixed-width {
  width: 150px !important;
}
.btn-fixed-width-big {
    width: 300px !important;
}
.text-title-gray{
   font-family: "Avenir-Book";
   font-size: 12px;
   color:#444 !important;
   text-decoration: none;
}
.text-body-gray{
   font-family: "Avenir-Book";
   font-size: 14px;
   color:#999;
}
.h2-title{
   font-family: "Avenir-Book";  
   font-size: 30px;
   color:#666;
}
.h5-name{
   font-family: "Avenir-Book";
   font-size: 26px;
   color:#444; 
}
.subtitle-underline{
   font-family: "Avenir-Book";
   font-size: 14px;
   color:#444; 
   /*text-decoration: underline;*/
}

.location-underline{
   font-family: "Avenir-Book";
   font-size: 13px;
   color:#000; 
   text-decoration: underline;
}
.numbers{
   font-family: "Avenir-Book";
   font-size: 12px;
   color:#333; 
}
.hidden {
  display: none;
}
.clasification-text{
   color: #fff;
   font-size: 20px;
   font-style: italic;
}
.project-title-text{
   color: #fff;
   font-size: 40px;
   font-weight: bold;
}
.people-name-text{
   color: #000;
   font-size: 25px;
   font-family: "Avenir-Book";
   text-decoration: underline;
}
.people-name-text-circle{
   color: #333;
   font-size: 18px;
   text-decoration: underline;
}
.people-role-text-circle{
   color: #666;
   font-size: 12px;
   text-decoration: underline;
   font-weight: bold;
}
.vertical-center-row {
 display: block;  
  margin-right: auto;  
  margin-left: auto;
}
.hr-gray {
  border-color: #fff;
}

/**Inician estilos para los recuadros de proyectos en la página de perfil de un usuario*/
.card{
  /*padding: 0.4em;*/
  margin: 0px;
  background: white;
  /*height: 400px;*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.card-title{
  text-align: center;
  /*text-transform: uppercase;*/
  color:black;
  font-size: 90%;
  font-weight: bolder;
  margin-top: 20px;
}
.card-body {
  background-color: #eee;
  width: 100%;
  height: auto;
}
.card-footer {
  background-color: #eee;
  width: 100%;
  height: auto;
}
.card-text {
  font-size: 85%;
  text-align: center;
}
/**Terminan estilos para los recuadros de proyectos en la página de perfil de un usuario*/

.project.border{
  padding: 2rem;

}
.black_border{
  outline: 1px solid black !important;
   padding: 0px; 
   margin: 0px;
}

.table th, .table td {
    padding: 8px;
    vertical-align: top;
    border-top: 0;
}

.table-responsive{
   padding: 0px; 
   margin: 0px;
}

.table-low-padding>tbody>tr>td, .table-low-padding>tbody>tr>th, .table-low-padding>tfoot>tr>td, .table-low-padding>tfoot>tr>th, .table-low-padding>thead>tr>td, .table-low-padding>thead>tr>th {
    padding: 0;
    margin: 0;
}

.text-no-wrap{
   white-space: nowrap;
   font-family: "Avenir-Book";
}

.about{
  font-family: "Avenir-Book";
  font-size: 80%;  
}

.light-padding{
  padding: 10px;
  margin: 10px;
}

.mag-5{
  margin-left: 5%;
}

.padding-5{
  padding: 5px;
  margin: 5px;
}

.padding-bottom-5{
  padding-bottom: 0.5em;
}

.input-width-80{
   width:80px;
}

.input-purple{
   border-color: #ED1567;
   color: #ED1567;
   
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}

.vertical-align-middle {
    display: flex;
    align-items: center;
}



.banner-table{
   padding: 20px;
   border: 1;
   margin: 20px;
}

.fa-bars{
   font-size: 30px;
   color:#fff;
}

.no-padding{
   padding: 0 !important;
   margin: 0 !important;
   font-family: "Avenir-Light";
}

.go-bottom{
    display: inline-block;
    height: 400px;
    vertical-align: bottom;
    width: 0px;
}

.hr_width_180{
   width: 180px;
}

.hr_width_80{
   width: 80px;
}

.hr_width_600{
   width: 600px;
}

.agreements{
   font-size: 12px;
   color:#444 !important;
   font-family: "Avenir-Book";
}

.agreements-white{
  font-size: 12px;
  color:#fff !important;
  font-family: "Avenir-Book";
}

.text-banner{
   font-size: 34px;
   font-weight: bold;
}
.date-banner{
   font-size: 28px;
   font-weight: bold;
}

.text-purple{
   color: #ED1567;
}

.black-link{
  color:black !important;
  text-decoration: underline;
}

.text-14{
  font-size: 14px;
}

.text-16{
  font-size: 16px;
}

.input-required-purple{
   color: #ED1567;
   font-size: 12px;
   font-style: italic;
}

.text-gray{
   color: #999;
}



/*Estilos para el menú desplegable*/
.dropdown-menu{
  width: 300px;
}
.dropdown-menu img{
  margin-left: 10%;
}
.dropdown-item{
   font-size: 16px;
}
.dropdown-item a{
   color:#000;
}
.dropdown-header{
  font-size: 14px;
}
.dropdown-toggle::after{
  display: none;
}
.dropdown-menu-wide{
  width: 400px !important;
}
/*Termina estilos para el menú desplegable*/

.nav li ul {
  margin-bottom: 20px;
}

.notify-drop-title{
  padding-left: 10px !important; 
  padding-right: 10px !important; 
}

/*Inician estilos para los botones de crew y cast en la barra superior*/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #ED1567;
}

.nav-pills a{
  color:#c6c6c6;
}
/*Terminan estilos para los botones de crew y cast en la barra superior*/

.text-white{
   color: #fff !important;
}

.text-lightgray{
   color: #bbb !important;
}

.text-black{
   color: #000 !important;
}

.button_white{
   border-width: 1px;
   border-color: #fff;
   background: transparent;
   color: #fff;
}

.button_white a, a:hover {
   text-decoration: none;
   color:#fff;
}

.button_gray{
   border-width: 1px;
   border-color: #999;
   background: transparent;
   color: #999;
}

.button-follow{
   padding-top: 1px;
   padding-bottom: 1px;
   border-width: 1px;
   border-color: #666;
   background-color: #666;
   color: #FFF;
   font-family: "Avenir-Book";
   font-size: 12px;
}

.button-unfollow{
   padding-top: 1px;
   padding-bottom: 1px;
   border-width: 1px;
   border-color: #ED1567;
   background-color: #ED1567;
   color: #FFF;
   font-family: "Avenir-Book";
   font-size: 12px;
}

.button_gray a, a:hover {
   text-decoration: none;
   color:#999;
}

.button_darkgray{
   border-width: 1px;
   border-color: #666;
   background-color: #666;
   color: #FFF;
}

.button_darkgray a, a:hover {
   text-decoration: none;
   color:#FFF;
}

.button_black{
   border-width: 1px;
   border-color: #000;
   background: transparent;
   color: #fff;
}

.button_black a, a:hover {
   text-decoration: none;
   color:#fff;
   cursor: hand;
}

/*Vertical visible line to divide cells*/
.vdivide {
  border-right: 1px solid #333;
  text-align: center;
}
.border-exterior{
   outline: 1px solid black;
   padding: 0px; /*top right bottom left*/
}

.borderless td, .borderless th, .borderless table {
    border: none !important;
}

.btn {
   border-radius: 0.25rem;
}

.btn-primary-outline {
  background-color: transparent;
  
}

.btn-borderless{
   border: none;
   color:gray;
   font-size: 25px;
   font-family: "Avenir-Book";
}

.btn-borderless:hover{
   color:gray;
}

.btn-borderless-small{
   border: none;
   color:gray;
   font-size: 20px;
}

.btn-alert{
  border: none;
  font-size: 0.8rem;
  color: #fff !important;
  margin-right: 2px;
  margin-top: 2px;
  padding: 0.1rem 1rem;
  background-color: #fd1052;
  ;
}



.btn-purple {
   border-width: 1px;
   border-radius: 5px;
   background: #fd1052;
   color: #fff !important;
   font-weight: bold;
}

.btn-purple a, a:hover{
   text-decoration: none;
   color: #ED1567;
}

.btn-gray {
   border-width: 1px;
   background-color: #333;
   color: #fff;
   height: 35px;
   /*font-weight: bold;*/
}

.btn-gray a, a:hover{
   text-decoration: none;
   color: #fff;
}

.btn-black {
   border-width: 1px;
   border-color: #666;
   background: transparent;
   color: #666;
}

.btn-black a, a:hover{
   text-decoration: none;
   color: #666;
}
.cursive{
   text-decoration: italic;
}

.pagination ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.pagination li {
  display: inline;
}

.pagination li a {
  color: #ED1567;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination li.active a {
  background-color: red;
  color: white;
}

.pagination li:hover:not(.active) a {
  background-color: #ED1567;
}

.center-cropped {
  width: 400px;
  /*height: 200px;*/
  background-repeat: no-repeat;
}

.spacer5 { 
   margin:0; 
   padding:0; 
   height:5px; 
}

.spacer10 { 
   margin:0; 
   padding:0; 
   height:10px; 
}

.spacer20 { 
   margin:0; 
   padding:0; 
   height:20px; 
}

.spacer30 { 
   margin:0; 
   padding:0; 
   height:30px; 
}

.spacer40 { 
   margin:0; 
   padding:0; 
   height:40px; 
}

.spacer60 { 
   margin:0; 
   padding:0; 
   height:60px; 
}

.spacer80 { 
   margin:0; 
   padding:0; 
   height:80px; 
}

.spacer120 { 
   margin:0; 
   padding:0; 
   height:120px; 
}
.spacer280 { 
   margin:0; 
   padding:0; 
   height:22em; 
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
  width: 10px;
  height: 10px;
  border: none;
  font-family: 'Glyphicons Halflings';
}

[class*="col-"] {
    width: 100%;
}

.border-left{
  border-left: 1px solid #000;
}

.border-bottom: {
  border-bottom: 1px solid #000;
}





.padding-0 {
    padding: 0;
    margin: 0;
}

.padding-10 {
    padding: 10;
    margin: 10;
}

.responsive {
  width: 100%;
  height: auto;
}

.border-cell {
   border: 1px solid #000000;
}





.footer{
  background: #1d2327;
  color:white;
  display: flex;
  align-items: center;
  font-family: "Avenir-Book";
  font-style: normal;
  font-weight: normal;
}
.footer ul{
  display: flex;
  list-style:none;
}
.footer li{
  padding-right: 30px;
  padding-top: 10px;
}
.footer a{
  text-decoration: none;
  color: white;
}
.footer a:hover{
  color:#2c3e50;
}


.li-class--active {
  color: #f00;
}

.li-class-2--active {
  color: #f0f;
  font-weight: bold;
}

.ul-class-3 {
  text-align: center;
}
.li-class-3 {
  font-size: 2em;
  display: inline-block;
  opacity: 0.2;
}
.li-class-3--active {
  opacity: 1;
}

.next-prev-btns--inactive {
  opacity: 0.1;
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
}
.slider-slides {
  width: 75%;
  margin: 0 auto;
  display: block;
  position: relative;
}
.slider-slides .slides {
  overflow: hidden;
}
.slider-slides .slide {
  display: block;
  float: left;
  background: #eee;
  padding: 1em 0 0.7em;
  border-right: 1px solid white;
  text-align: center;
}
.slider-slides .next-prev-btns {
  position: absolute;
  bottom: 0.5em;
  left: -2em;
  cursor: pointer;
  background: yellow;
  color: black;
  padding: 0.3em;
}
.slider-slides .next-prev-btns:hover {
  color: red;
}
.slider-slides .next-prev-btns:last-child {
  left: auto;
  right: -2em;
}
.slider-slides-text-slides {
  text-align: center;
  font-weight: bold;
  margin: 2em 0;
}

.slide-show-2 {
  overflow: hidden;
}
.slide-show-2 .slide {
  display: block;
  float: left;
  
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #ffffff 0%, #7db9e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #ffffff 0%,#7db9e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #ffffff 0%,#7db9e8 100%); /* IE10+ */
  background: linear-gradient(135deg,  #ffffff 0%,#7db9e8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  border-top: 3px solid #ddd;
  border-bottom: 3px solid #ddd;
  padding: 2em 0;
  text-align: center;
}




/* Material design icons styles */

.alert.mdi::before,
.breadcrumb .mdi::before,
.btn.mdi::before,
.card-title.mdi::before,
.card-subtitle.mdi::before,
.card-link.mdi::before,
.dropdown-item.mdi::before,
.list-group-item.mdi::before,
.nav-link.mdi::before {
    font-size: 1.25em;
    line-height: initial;
    position: relative;
    top: 0.09rem;
}
.alert.mdi::before,
.breadcrumb .mdi:not(:empty)::before,
.btn.mdi:not(:empty)::before,
.card-title.mdi:not(:empty)::before,
.card-subtitle.mdi:not(:empty)::before,
.card-link.mdi:not(:empty)::before,
.dropdown-item.mdi:not(:empty)::before,
.nav-link.mdi:not(:empty)::before {
    margin-right: 0.25rem;
}
.list-group-item.mdi:not(:empty)::before {
    margin-right: 0.5rem;
}
.dropdown-item.mdi:not(:empty)::before {
    margin-left: -0.75rem;
}
.alert.mdi::before,
.list-group-item.mdi:not(:empty)::before {
    margin-left: -0.5rem;
}
.modal-title.mdi::before {
    font-size: 1.5em;
    line-height: 0.5;
    position: relative;
    top: 0.26rem;
    margin-right: 0.5rem;
}


/* End of material design icons*/

