<template name="mainlayout">
   <header>
      {{> Template.dynamic template=header}}
      {{> Template.dynamic template=banner}}
      {{#if currentUser}}  
         {{#unless isVerified}}
            <p class="alert alert-warning">No has verificado tu cuenta, usa el enlace que recibiste en tu correo cuando te registraste. ¿No lo has recibido? <a href="#" class="resend-verification-link">Haz clic aquí para enviártelo de nuevo</a>.</p>
         {{/unless}}
      {{/if}}
   </header>
   <main onclick="closeNav();">
       {{> Template.dynamic template=main}}
   </main>
   <footer onclick="closeNav();">
      {{> Template.dynamic template=footer}}
   </footer>
</template>